services:
  <%= dasherize(applicationName) %>:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: <%= dasherize(applicationName) %>
    restart: always

    ports:
      - "<%= port %>:80"
